NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/phoneshim"

# Change this value in production.
JWT_ACCESS_SECRET="change-this-access-secret"
JWT_ACCESS_EXPIRES_IN="1h"
